<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/acd279e6-7cfc-486f-a817-3a08ced16b70/resourcegroups/CorcoranGroupPresidentsTest/providers/Microsoft.Web/sites/CorcoranPresidentsBackEnd20181215080332</ResourceId>
    <ResourceGroup>CorcoranGroupPresidentsTest</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://corcoranpresidentsbackend20181215080332.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>corcoranpresidentsbackend20181215080332.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CorcoranPresidentsBackEnd20181215080332</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CorcoranPresidentsBackEnd20181215080332</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PresidentContext" Order="1" Enabled="False">
          <Destination Path="Data Source=corcoranpresident.database.windows.net;Initial Catalog=CorcoranPresidents;Persist Security Info=True;User ID=CorcoranUser;Password=M3g@m@n1!;Application Name=EntityFramework" Name="Data Source=corcoranpresident.database.windows.net;Initial Catalog=CorcoranPresidents;Persist Security Info=True;User ID=CorcoranUser;Password=M3g@m@n1!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CorcoranPresidentsBackEnd.PresidentContext, CorcoranPresidentsBackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PresidentContext-Web.config Connection String">
      <ParameterValue>Data Source=corcoranpresident.database.windows.net;Initial Catalog=CorcoranPresidents;Persist Security Info=True;User ID=CorcoranUser;Password=M3g@m@n1!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>